spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: jdbc:postgresql://postgres:5432/marketplace
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: redis
      port: 6379
      database: 0
